<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <!--#072F5F-->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Courses", "Index", "cours")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
        }*@

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" id="testDropdown" href="@Url.Action("Index", "RolesAdmin")">RolesAdmin</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")" id="testDropdown2">UsersAdmin</a>

                            </div>
                        </li>
                    }
                    @*@if (User.IsInRole("employee"))
        {
        <li>@Html.ActionLink("Completed Courses", "Index", "CourseCompletions")</li>
        }*@
                    @if (Request.IsAuthenticated && User.IsInRole("employee"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Progress Tracker
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:200%;">
                                <a class="dropdown-item" id="testDropdown" href="@Url.Action("Index", "CourseCompletions")">Completed Courses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "LessonViews")" id="testDropdown2">Completed Lessons</a>

                            </div>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Asset Calculator", "Index", "Entries")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="container body-content">*@
    <main>
        @RenderBody()
        @*</div>*@
    </main>
    <footer class="page-footer">     
        <p style="margin:0;"><h4 style="margin:0;"><strong>Copyright @@ James Griffith @DateTime.Now.Year</strong></h4></p>
       
        
        <!-- Copyright -->

    </footer>
    <div class="clearfix"></div>
    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
