@model LMS.DATA.Cours

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid" style="padding:0;">
    <div class="row"style="margin:0;">

        <div class="col-md-12" style="padding-left:2em; margin-top:2em;">
            <h2><strong>Course:</strong> @Html.DisplayFor(model => model.CourseName) </h2>
            <hr />
            <h3><strong>Description:</strong> @Html.DisplayFor(model => model.CourseDescription)</h3>
            <br />
            <a class="btn btn-primary" href="@Url.Action("Index","Lessons", new { id = Model.CourseId })">View @Html.DisplayFor(model => model.CourseName) Lessons </a>
        </div>
    </div>
    <div class="row" style="width:100%; background-color:#9CDFDC; margin-top:2em; height:70vh; padding:0; margin:auto; margin-top:2em;">
        <div class="col-md-12" style="padding:0;">
            <img src="~/Content/imgs/Investing-money-for-beginners_page_1.png" alt="Alternate Text" style="width:auto; height:100%; max-height:100%; max-width:100%;" />
        </div>
    </div>
</div><!--end Container-->
@*<div>
        <h4>Cours</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
